.page-title {
	background-color: olive;
	font-size: 200%;
}

article.policy {
	background-color: #DDEEFF;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 50%;
}