/* Theme */

@color-page-title-bg: #55DD55;
@color-page-title-fg: white;

@color-page-nav-bg: @color-page-title-bg;
@color-page-nav-fg: @color-page-title-fg;

@color-policy-bg: #9999FF;
@color-policy-fg: white;

@color-policy-section-bg: @color-policy-bg;
@color-policy-section-fg: white;
@color-policy-section-body-bg: lighten(@color-policy-section-bg, 10%);

@color-policy-group-bg: darken(@color-policy-bg, 10%);
@color-policy-group-fg: white;

@color-policy-group-member-bg: @color-policy-bg;
@color-policy-group-member-fg: black;

@color-policy-ruleset-header-bg: yellow;
@color-policy-ruleset-path-bg: black;
@color-policy-ruleset-path-fg: white;
@color-policy-ruleset-body-bg: lighten(@color-policy-section-body-bg, 5%);

@color-policy-rule-header-bg: khaki;
@color-policy-rule-name-bg: brown;
@color-policy-rule-name-fg: white;
@color-policy-rule-parameters-bg: lighten(@color-policy-rule-header-bg, 10%);

/* Commons */

// Rounded corners
.rounded (@radius: 10px) {
	border-radius: @radius;
	padding: 5px @radius 5px @radius;
}

// Policy ID
.policy-id {
	.rounded (5px);
	padding: 2px 5px 2px 5px;
	margin: 5px 5px 5px 0px;
}

/* General: tags */

body {
	font-family: sans-serif;
	background-color: white;
}

/* General: classes */

.info {
	color: gray;
	font-style: italic;
}

.action {
	cursor: pointer;
}

/* Macros */

.macro-uid {
	color: gray;
	span {
		color: black;
		font-family: monospace;
	}
}

.macro-status {
	.rounded(8px);
	color: white;
	font-weight: bold;
	font-size: 50%;
	vertical-align: middle;
}

.macro-enabled {
	.macro-status;
	background-color: #00AA00;
}

.macro-disabled {
	.macro-status;
	background-color: #AA0000;
}

.macro-param {
	.rounded;
	background-color: white;
	font-size: 80%;
	.macro-param-name {
		color: gray;
	}
	.macro-param-value {
		font-weight: bold;
	}
}

.macro-form-value {
	padding: 2px;
}

.macro-form-value-editable {
	border: solid 1px white;
}

/* Simple layout */

article.page {
	> header {
		.rounded;
		font-size: 150%;
		font-weight: bold;
		margin-bottom: 5px;
		background-color: @color-page-title-bg;
		color: @color-page-title-fg;
	}
	> section > nav {
		.rounded;
		background-color: @color-page-nav-bg;
		position: fixed;
		bottom: 5px;
		left: 5px;
		right: 5px;
		a {
			text-decoration: none;
			color: @color-page-nav-fg;
		}
	}
}

/* Home page */

article.policy-summary {
	.rounded;
	background-color: @color-policy-bg;
	> header {
		font-size: 120%;
		font-weight: bold;
		> a {
			color: @color-policy-fg;
			text-decoration: none;
		}
	}
}

/* Policy page */

article.policy {
	section.policy {
		> header {
			.rounded;
			background-color: @color-policy-section-bg;
			color: @color-policy-section-fg;
		}
		> div {
			.rounded;
			margin-bottom: 5px;
			background-color: @color-policy-section-body-bg;
		}
	}
}

section.policy-groups {
	th {
		text-align: left;
		.rounded;
		font-weight: normal;
		background-color: @color-policy-group-bg;
		color: @color-policy-group-fg;
	}
	td {
		.rounded;
		background-color: @color-policy-group-member-bg;
		color: @color-policy-group-member-fg;
	}
}

section.policy-ruleset {
	> header {
		.rounded;
		background-color: @color-policy-ruleset-header-bg;
		span.policy-ruleset-path {
			.policy-id;
			background-color: @color-policy-ruleset-path-bg;
			color: @color-policy-ruleset-path-fg;
		}
		span.policy-ruleset-description {
			.info;
		}
	}
	> div {
		.rounded;
		background-color: @color-policy-ruleset-body-bg;
	}
}

section.policy-rule {
	> header {
		.rounded;
		background-color: @color-policy-rule-header-bg;
		span.policy-rule-name {
			.policy-id;
			background-color: @color-policy-rule-name-bg;
			color: @color-policy-rule-name-fg;
		}
		span.policy-rule-description {
			.info;
		}
	}
	> div {
		.rounded;
		background-color: @color-policy-rule-parameters-bg;
		margin-bottom: 5px;
		padding: 5px;
	}
}