/* Theme */

@color-page-title-bg: lightgrey;
@color-page-title-fg: white;

@color-page-nav-bg: @color-page-title-bg;
@color-page-nav-fg: @color-page-title-fg;

@color-policy-bg: lighten(@color-page-title-bg, 10%);
@color-policy-border: gray;
@color-policy-fg: black;

@color-policy-section-bg: white;
@color-policy-section-fg: gray;
@color-policy-section-body-bg: white;

@color-policy-group-bg: darken(@color-policy-bg, 10%);
@color-policy-group-fg: black;

@color-policy-group-member-bg: @color-policy-bg;
@color-policy-group-member-fg: black;

@color-policy-ruleset-bg: @color-policy-bg;
@color-policy-ruleset-fg: black;

@color-policy-rule-bg: darken(@color-policy-ruleset-bg, 15%);
@color-policy-rule-fg: black;

/* Commons */

// Rounded corners
.rounded (@radius: 10px) {
	border-radius: @radius;
	padding: 5px @radius 5px @radius;
}

// Policy ID
.policy-id {
	.rounded (5px);
	padding: 2px 5px 2px 5px;
	margin: 5px 5px 5px 0px;
}

/* General: tags */

body {
	font-family: sans-serif;
	background-color: white;
}

/* General: classes */

.info {
	color: gray;
	font-style: italic;
}

.action {
	cursor: pointer;
}

.action-hidden {
	display: none;
}

/* Macros */

.macro-uid {
	color: gray;
	span {
		color: black;
		font-family: monospace;
	}
}

.macro-form-create {
	display: inline;
	input[type="image"] {
		vertical-align: middle;
	}
}

.macro-status {
	.rounded(8px);
	font-weight: bold;
	font-size: 50%;
	vertical-align: middle;
}

@macro-enabled-color: #88EE88;
@macro-disabled-color: #EE8888;

.macro-enabled {
	.macro-status;
	background-color: lighten(@macro-enabled-color, 50%);
	color: @macro-enabled-color;
}

.macro-disabled {
	.macro-status;
	background-color: lighten(@macro-disabled-color, 50%);
	color: @macro-disabled-color;
}

.macro-form-error {
	border: solid 1px red;
	background-color: #FFAAAA;
	background-image: url('../images/x-form-error.png');
	background-repeat: no-repeat;
	background-position: right;
}

input.macro-form-value {
	border: solid 1px transparent;
	background-color: inherit;
}

input.macro-form-editable {
	background-color: transparent;
	border: dotted 1px lightgray;
}

input.macro-form-edited {
	background-color: white;
	border: solid 1px gray;
}

input.macro-form-disabled {
	background-color: gray;
}

/* Simple layout */

article.page {
	> header {
		.rounded;
		font-size: 150%;
		font-weight: bold;
		margin-bottom: 5px;
		background-color: @color-page-title-bg;
		color: @color-page-title-fg;
	}
	> section > nav {
		.rounded;
		background-color: @color-page-nav-bg;
		position: fixed;
		bottom: 5px;
		left: 5px;
		right: 5px;
		a {
			text-decoration: none;
			color: @color-page-nav-fg;
			margin-right: 10px;
			&.language.selected {
				font-weight: bold;
				color: gray;
			}
		}
	}
}

nav form {
	color: @color-page-nav-fg;
	display: inline;
	input[type="submit"] {
		color: @color-page-nav-fg;
		border: none;
		background: transparent;
		text-decoration: underline;
		font-size: inherit;
		.action;
	}
}

/* Home page */

article.policy-summary {
	float: left;
	.rounded;
	background-color: @color-policy-bg;
	border: solid 2px @color-policy-border;
	margin-bottom: 5px;
	margin-right: 5px;
	> header {
		font-size: 120%;
		font-weight: bold;
		> a {
			color: @color-policy-fg;
			text-decoration: none;
		}
	}
	span.info {
		color: lighten(@color-policy-fg, 50%);
	}
}

/* Policy page */

article.policy {
	section.policy {
		> header {
			.rounded;
			background-color: @color-policy-section-bg;
			color: @color-policy-section-fg;
			font-style: italic;
			border-bottom: solid 2px @color-policy-section-fg;
		}
		> div {
			.rounded;
			margin-bottom: 5px;
			background-color: @color-policy-section-body-bg;
		}
	}
}

section.policy-groups {
	header .macro-form-create {
		float: right;
	}
	th {
		text-align: left;
		.rounded;
		font-weight: bold;
		background-color: @color-policy-group-bg;
		color: @color-policy-group-fg;
	}
	td {
		.rounded;
		background-color: @color-policy-group-member-bg;
		color: @color-policy-group-member-fg;
	}
}

section.policy-ruleset {
	.rounded;
	margin-bottom: 5px;
	background-color: @color-policy-ruleset-bg;
	color: @color-policy-ruleset-fg;
	.policy-ruleset-path {
		font-weight: bold;
		text-decoration: underline;
	}
	.policy-ruleset-description {
		.info;
	}
}

div.policy-ruleset-dd {
	cursor: move;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
	background-image: url('../images/grip.png');
}


section.policy-rule {
	.rounded;
	margin-top: 5px;
	background-color: @color-policy-rule-bg;
	color: @color-policy-rule-fg;
	.policy-rule-name {
		font-weight: bold;
	}
	.policy-rule-description {
		.info;
	}
}